@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  scroll-behavior: smooth;
}

body {
  @apply text-neutral-900 bg-neutral-100 mx-auto dark:bg-neutral-900 dark:text-neutral-200;
}

input:is(
    [type='text'],
    [type='search'],
    [type='url'],
    [type='email'],
    [type='password']
  ) {
  @apply w-full p-4 border-2 bg-transparent border-neutral-800 dark:border-neutral-200 placeholder:text-neutral-500 dark:placeholder:text-neutral-500 focus:outline focus:border-neutral-900 dark:focus:border-neutral-100 focus:outline-none rounded-md;
}

details summary::-webkit-details-marker {
  display: none;
}

@media (prefers-color-scheme: dark) {
  input:is(
      [type='text'],
      [type='search'],
      [type='url'],
      [type='email'],
      [type='password']
    ) {
    @apply border-neutral-400;
  }
}