@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-neutral-900 bg-neutral-200 mx-auto py-6 px-2 dark:bg-neutral-900 dark:text-neutral-200;
  width: min(calc(100% - 1rem), 820px);
}

input:is(
    [type='text'],
    [type='search'],
    [type='url'],
    [type='email'],
    [type='password']
  ) {
  @apply bg-neutral-300 w-full p-4 dark:bg-neutral-800 placeholder:text-neutral-500 dark:placeholder:text-neutral-500 focus:outline focus:outline-neutral-800 dark:focus:outline-neutral-200;
}

details summary::-webkit-details-marker {
  display: none;
}

@media (prefers-color-scheme: dark) {
  input:is(
      [type='text'],
      [type='search'],
      [type='url'],
      [type='email'],
      [type='password']
    ) {
    @apply border-neutral-400;
  }
}
