@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-zinc-800 bg-zinc-100 mx-auto p-4;
  width: min(calc(100% - 1rem), 1024px);
}

input:is([type="text"], [type="search"], [type="url"], [type="email"], [type="password"]) {
  @apply bg-zinc-800 w-full p-4 rounded-lg;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-zinc-900 text-zinc-100;
  }
  input:is([type="text"], [type="search"], [type="url"], [type="email"], [type="password"]) {
    @apply border-zinc-400;
  }
}